.awesome__first {
    margin-left: 171px;
}

.awesome__first,
.awesome__second,
.awesome__third {
    display: inline-block;
    width: 370px;
    height: 383px;
    margin-top: 71px;

}

.awesome__first {
    margin-left: 171px;
}

.awesome__second,
.awesome__third {
    margin-left: 30px;
}

.awesome__first-img,
.awesome__second-img,
.awesome__third-img {
    margin-left: 100px;
    margin-top: 0px;
    width: 170px;
    height: 170px;

}

.awesome__first-title,
.awesome__second-title,
.awesome__third-title {
    width: 369px;
    height: 100px;
    margin-left: 1px;
    margin-top: 39px;
    font-family: 'Abyssinica SIL', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    line-height: 32.68px;
    color: #000000;

}

.awesome__first-description,
.awesome__second-description,
.awesome__third-description {
    width: 370px;
    height: 105px;
    margin-left: 0px;
    margin-top: 8px;
    font-family: 'Abyssinica SIL', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 21.13px;
    color: #000000;
}