.section-awesome__item {
    display: inline-block;
    max-width: 20.56rem;
    margin: 0 auto;
    padding: 0 5px;
    text-align: center;
}

.section-awesome__item-img {
    max-width: 9.44rem;
}

.section-awesome__item-title {
    margin-top: 2.17rem;
}

.section-awesome__item-description {
    margin-top: 2rem;
}

@media (max-width:1200px) {
    .section-awesome {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width:768px) {
    .section-awesome {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width:560px) {
    .section-awesome {
        display: flex;
        flex-wrap: wrap;
    }
}