.banner {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    background-image: url(../assets/images/street_view.png);
    background-color: gray;
    background-size: cover;
    background-position: center;
}

.banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}

.banner__content {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.banner__descriprion {
    max-width: 670px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.banner .section-header,
.banner .section-header__description {
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.banner .section-header__title {
    font-weight: 500;
    font-size: 2.67rem;
}

.banner .section-header__separator {
    border: 1px solid rgba(255, 255, 255, 1);
}

.banner__description-button {
    padding: 10px 50px;
    border: 2px solid rgba(255, 255, 255, 1);
    max-width: 270px;
    color: rgba(255, 255, 255, 1);
}

.banner__form {
    min-width: 470px;
    align-self: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

.banner__form-authorization {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__form-title {
    padding: 15px 2.78rem;
    text-align: center;
}

.banner__form-authorization-input {
    border: none;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    margin-top: 2rem;
    padding: 15px 10px;
    width: 85%;
}

.banner__form-authorization-submit {
    width: 100%;
    margin-top: 3rem;
    padding: 10px 50px;
    background-color: rgba(236, 121, 121, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 0.83rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.red-word {
    color: rgba(236, 121, 121, 1);
}

@media (max-width:1024px) {
    .banner__form {
        min-width: 398px;
    }
}

@media (max-width:768px) {
    .banner__form {
        min-width: 320px;
    }
}

@media (max-width:560px) {
    .container {
        max-width: 320px;
    }

    .banner__content {
        flex-wrap: wrap;
        margin-top: 100px;
    }

    .axit__logo {
        display: none;
    }

    .banner .section-header,
    .banner .section-header__description {
        text-align: center;
    }

    .banner__description-button {
        margin: 0 auto;
    }

    .banner__form {
        margin-bottom: 20px;
        min-width: 288px;
    }

}