.banner {
    max-width: 1510px;
    margin: 0 auto;
    min-height: 1026px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    background-image: url(../assets/images/street_view.png);
    background-color: gray;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.banner__content {
    width: calc(100%/2 - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;
}

.header-axit__logo {
    max-width: 270px;
}

.banner .section-header,
.banner .section-header__description {
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.banner .section-header__title {
    font-weight: 500;
    font-size: 2.67rem;
}

.banner .section-header__separator {
    border: 1px solid rgba(255, 255, 255, 1);
}

.banner__button {
    padding: 10px 50px;
    border: 2px solid rgba(255, 255, 255, 1);
    max-width: 270px;
    color: rgba(255, 255, 255, 1);
}

.banner__form {
    width: calc(100%/2 -30px);
    align-self: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

.banner__form--authorization {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__form--title {
    padding: 15px 30px;
    text-align: center;
}

.banner__form--authorization-input {
    border: none;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
    margin-top: 2rem;
    padding: 15px 10px;
    width: 85%;
}

.banner__form--authorization-submit {
    width: 100%;
    margin-top: 3rem;
    padding: 10px 50px;
    background-color: rgba(236, 121, 121, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 0.83rem;
}

.red-word {
    color: rgba(236, 121, 121, 1);
}

@media (max-width:768px) {
.banner {
    max-width: 1024px;
}

}
@media (max-width:560px) {
    .banner {
        max-width: 320px;
    }
    
        
    }