.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

h2 {
    font-family: var(--h2-font);
    font-weight: var(--h2-font-weight);
}

h3 {
    font-family: var(--h3-font);
    font-weight: var(--h3-font-weight);
    font-size: var(--h3-font-size);
    line-height: var(--h3-font-size);
}

p {
    font-family: var(--p-font);
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    line-height: var(--p-line-height);
}

li {
    font-family: var(--li-font);
    font-size: var(--li-font-size);
    font-weight: var(--li-font-weight);
}

button, a {
    font-family: var(--button-font);
}