.contact {
  text-align: center;
  padding: 2.78rem 0;
}

.contact__form {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.contact__form--authorization {
  display: flex;
  flex-direction: column;
  min-width: calc(100%/2);
  position: relative;
}

.contact__form--authorization-input {
  min-height: calc(100%/3);
}

.contact__form--authorization-input,
.contact__form--feedback {
  border: none;
  border-bottom: 1px solid rgba(189, 189, 189, 1);
  padding: 15px 15px;
}

.contact__form--feedback {
  resize: none;
  min-width: calc(100%/2);
}

.contact__form--submit {
  margin-top: 50px;
  padding: 15px 100px;
  background-color: rgba(236, 121, 121, 1);
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 90%;
}
