.contact__form {
  margin-top: 5.55rem;
  text-align: center;
}

.contact__form-feedback {
  display: flex;
  justify-content: space-evenly;
}

.contact__authorization {
  display: flex;
  flex-direction: column;
}

.contact__form-feedback-input {
  min-height: calc(100%/3);
}

.contact__form-feedback-message {
  resize: none;
}

.contact__form-feedback-input,
.contact__form-feedback-message {
  border: none;
  border-bottom: 1px solid rgba(189, 189, 189, 1);
  padding: 15px 15px;
  width: 50ch;
}

.contact__form-submit {
  margin-top: 2.78rem;
  padding: 15px 50px;
  background-color: rgba(236, 121, 121, 1);
  color: rgba(255, 255, 255, 1);
}

@media (max-width:560px) {
  .contact__form-feedback {
    flex-wrap: wrap;
  }
}