.contact {
  text-align: center;
  padding: 2.78rem 0;
}

.contact__form {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  position: relative;
}

.contact__form--authorization {
  display: flex;
  flex-direction: column;
  min-width: calc(100%/2);
  position: relative;
}

.contact__form--authorization-input {
  min-height: calc(100%/3);
}

.contact__form--authorization-input,
.contact__form--feedback {
  border: none;
  border-bottom: 1px solid rgba(189, 189, 189, 1);
  padding: 15px 15px;
}

.contact__form--feedback {
  resize: none;
  min-width: calc(100%/2);
}

.contact__form--submit {
  margin-top: 50px;
  padding: 15px 100px;
  background-color: rgba(236, 121, 121, 1);
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 90%;
}

.contact__form--reset-name::after,
.contact__form--reset-email::after,
.contact__form--reset-password::after,
.contact__form--reset-message::after {
  content: "X";
  color: rgba(189, 189, 189, 1);
  position: absolute;
}

.contact__form--reset-name::after {
  top: 10%;
  right: 1%;
}

.contact__form--reset-email::after {
  top: 45%;
  right: 1%;
}

.contact__form--reset-password::after {
  top: 80%;
  right: 1%;
}

.contact__form--reset-message::after {
  top: 10%;
  left: 102%;
}