.customers {
    padding: 2.78rem 0;
}

.section-customers {
    margin-top: 85px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-customers__item {
    min-width: 370px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    position: relative;
}

.section-customers__item--text {
    max-width: 370px;
    min-height: 200px;
    background-color: #E2E2E2;
    border-radius: 10px;
    text-align: center;
    padding: 45px 5px;
    font-family: var(--p-font);
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    line-height: var(--p-line-height);
    color: #86878B;
}

.section-customers__item--reference::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 20%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #E2E2E2;
}

.section-customers__item--data {
    max-height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 20px;
    column-gap: 50px;
}

.section-customers__item--data-name {
    font-family: var(--h3-font);
    font-weight: var(--h3-font-weight);
    font-size: var(--h3-font-size);
}

.section-customers__item--data-vocation {
    font-family: var(--p-font);
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
}