.design {
    max-width: 1510px;
    margin: 0 auto;
    height: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 120px;
}

.design__background-image {
    background-image: url(../assets/images/сity_panorama.png);
    background-color: gray;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -1;
}

.design__background-image::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: -1;
}

.design .section-header__title,
.design .section-header__description {
    color: rgba(255, 255, 255, 1);
}

.design .section-header__separator {
    border: 1px solid rgba(255, 255, 255, 1);
}

.design__button {
    margin: 0 auto;
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    padding: 10px 50px;
    text-transform: capitalize;
}