.axit-footer {
    width: 100vw;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 1);
    min-height: 164px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.axit-footer__icons {
    display: flex;
    gap: 30px;
    color: rgba(255, 255, 255, 1);
    /* если не подгрузится картинка, дабы видно было описание */
}

.axit-footer__icons-item {
    width: 2.94rem;
    height: 2.94rem;
}

.axit-footer__copyright {
    color: rgba(255, 255, 255, 0.5);
}

@media (max-width:560px) {
    .axit-footer__icons {
        gap: 15px;
    }

    .axit-footer__icons-item {
        width: 1.85rem;
        height: 1.85rem;
    }
}