.header-axit {
    position: fixed;
    min-width: 100vw;
    z-index: 999;
    background-color: rgba(0, 0, 0, 1);
    min-height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.header-axit__menu-item{
    display: inline-block;
    padding: 0 15px;   
}

.header-axit__menu-item:hover{
    color: rgba(236, 121, 121, 1);
}
