.pricing {
    background-color: var(--primary-color);
    width: 100vw;
}

.pricing-alternatives {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 470px;
}

.pricing-alternatives__item {
    min-width: 370px;
}

.pricing-alternatives__item-title,
.pricing-alternatives__item-cost,
.pricing-alternatives__item-description,
.pricing-alternatives__item-characteristic {
    border: 1px solid #F5F5F5;
    background-color: #333333;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.pricing-alternatives__item-title {
    font-size: 1.33rem;
    color: #FFFFFF;
}

.pricing-alternatives__item-cost {
    font-weight: 700;
    font-size: 2rem;
    color: #FFFFFF;
}

.pricing-alternatives__item-description {
    color: rgba(255, 255, 255, 0.5);
}

.pricing-alternatives__item-characteristic {
    background-color: #FFFFFF;
    color: #86878B;
}

.pricing-alternatives__item {
    transition: transform 0.2s ease-in-out, box-shadow 0.5s ease-in-out;
}

.pricing-alternatives__item:hover {
    transform: translateY(-15px);
    -webkit-box-shadow: 0px 23px 54px -8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 23px 54px -8px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 23px 54px -8px rgba(0, 0, 0, 0.5);
}

@media (max-width:1024px) {
    .pricing-alternatives__item {
        min-width: calc(100%/3 - 40px);
    }
}

@media (max-width:768px) {
    .pricing-alternatives__item {
        min-width: calc(100%/3 - 30px);
    }
}

@media (max-width:560px) {
    .pricing-alternatives {
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .pricing-alternatives__item {
        min-width: 370px;
    }
}