* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 18px;
    /* rem */
    scroll-behavior: smooth;
    scroll-padding: 60px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0px;
}

:placeholder-shown {
    color: rgba(189, 189, 189, 1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.78rem;
    text-transform: capitalize;
}

a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    text-transform: capitalize;
}

label {
    display: none;
}

@media (max-width:1024px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (max-width:560px) {
    html {
        font-size: 12px;
    }
}