.social {
    max-width: 1510px;
    margin: 0 auto;
    background-color: rgba(248, 239, 239, 1);
    min-height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.social__content {
    max-width: 470px;
}

.social__content--description {
    margin-top: 18px;
}
.social__icon--item{
    width: 70px;
    height: 70px;
    margin-left: 44px;
}
