.tabs {
    padding: 2.78rem 0;
}

.tabs__buttons {
    border-bottom: 1px solid #C6CBCD;
}

.tabs__item--active,
.tabs__item--inactive {
    display: inline-block;
    text-transform: uppercase;
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.78rem;
    text-align: center;
    border: none;
    padding: 10px 50px;
    cursor: pointer;
}

.tabs__item--active {
    border-top: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    margin-bottom: -2px;
    border-bottom: 4px solid white;
}

.tabs__content {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #C6CBCD;
    border-top: none;
    font-size: 0rem;
}

.tabs__content-description {
    display: inline-block;
    padding: 50px 30px;
    max-width: 60%;
    vertical-align: top;
}

.tabs__content-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.67rem;
}

.tabs__content-text {
    margin-top: 1.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

.tabs__content-button {
    margin-top: 1.5rem;
    background-color: #EC7979;
    padding: 10px 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
    cursor: pointer;
}

.tabs__content-img {
    max-width: 99.9%;
    display: inline-block;
    max-width: 40%;
}