.pricing {
  --primary-color: #F5F5F5;
}

:root {
  --h3-font: 'Open Sans', sans-serif;
  --h3-font-weight: 700;
  --h3-font-size: 1.33rem;
}

:root {
  --p-font: 'Raleway', sans-serif;
  --p-font-size: 1rem;
  --p-font-weight: 400;
  --p-line-height: 1.5;
}

:root {
  --title-font: 'Open Sans', sans-serif;
  --title-font-weight: 700;
}