.section-awesome__content-header--title {

    width: 1170px;
    height: 150px;
    font-size: 36px;
    line-height: 42.26px;
    color: #000000;
}

.section-awesome__content-header--separator {
    margin-top: 0px;
    margin-left: 500px;
    width: 170px;
    height: 0px;
    border: 1px solid #EC7979;
}

.section-awesome__content-header--description {
    margin-top: 40px;
    margin-left: 1px;
    width: 1169px;
    height: 21px;
    font-size: 18px;
    line-height: 21.13px;
    color: #86878B;

}

.section-awesome__content-header--title,
.section-awesome__content-header--description {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
}